.call-to-action {
    text-align: center;
    padding: 20px;
  }
  
  .call-to-action h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .call-to-action p {
    margin-bottom: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(30, 166, 50);
    color: rgb(18, 17, 17);
    text-decoration: none;
    border-radius: 4px;
  }