@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  @apply outline-none ring-2 ring-pink-500 ring-opacity-50;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  @apply text-white bg-zinc-800 antialiased;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  height: calc(100vh - 80px);
}
.list {
  color: black;
}

.list-button {
  background: rgb(1, 0, 0);
  border: 1px solid #999;
  border-radius: 4px;
  cursor: pointer;
  height: 32px;
  line-height: 30px;
  padding: 0 15px;
}

.list-button:hover {
  background: #681bf8;
}

.board {
  color: #000;
  
  
}

.answer-button {
  background: rgb(244, 245, 244);
  border: 1px solid rgb(114, 29, 234);
  border-radius: 4px;
  cursor: pointer;
  height: 32px;
  line-height: 30px;
  padding: 0 15px;
  text-decoration-color: white;
  margin-left: 20;
  
}

.answer-button:hover {
  background: #b795fc;
}


.result-area {
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  width: 100%;
  padding: 2rem;
  height: 80vh;
  overflow: hidden;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 4px;
  white-space: pre-line;
}
.list {
  color: rgb(255, 255, 255);
}
.question {
  margin-bottom: 15px;
  white-space: pre-line;
}
